@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #e5d65a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 20px;
  width: 80%;
  background: #f2a120;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #5f1403;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #ad8162;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 25px;
  width: 48%;
  background: #ad100b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #45c63a;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #5339bf;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #e5d65a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #e4e4e4;
  border-radius: 20px 20px 200px 200px;
}
